__pycache__/lib.cpython-38.pyc
__pycache__/ModemUtils.cpython-38.pyc
build/test/Analysis-00.toc
build/test/base_library.zip
build/test/EXE-00.toc
build/test/PKG-00.pkg
build/test/PKG-00.toc
build/test/PYZ-00.pyz
build/test/PYZ-00.toc
build/test/test.exe.manifest
build/test/Tree-00.toc
build/test/Tree-01.toc
build/test/warn-test.txt
build/test/xref-test.html
test.spec
__pycache__/test.cpython-38.pyc
